{% extends 'layout.html.twig' %}

{% block stylesheets %}
  <link rel="stylesheet" href="../style/table.css">
{% endblock %}

{% block title %}Ingredients{% endblock %}

{% block user_content %}

  <div class="container">

    <form action="{{ path_for('user.loadIngredients') }}" method="GET">
              
        <legend>Categorie :</legend>
        <div class="form-group">
          <select name="categorie" class="form-control" id="categorie">
            {% for categorie in categories %}
              {% if id.value == categorie.id %}
                <option value="{{ categorie.id }}" selected="selected">{{ categorie.nom }}</option>
              {% else %}
                <option value="{{ categorie.id }}">{{ categorie.nom }}</option>
              {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="form-group">
          <button class="btn btn-lg btn-primary col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-8" type="submit">Charger ingrédients</button>
        </div>

    </form>

    <form action="{{ path_for('user.loadIngredients') }}" method="POST">

        <legend>Ingredients :</legend>
        <table class="table table-striped table-responsive table-bordered">
          <thead>
            <tr>
              <th>Nom</th>
              <th>Déscription</th>
              <th>Fournisseur</th>
              <th>Image</th>
            </tr>
          </thead>
          <tbody>
            {% for ingredient in ingredients %}
              <tr>
                <td>{{ ingredient.nom }}</td>
                <td>{{ ingredient.description }}</td>
                <td>{{ ingredient.fournisseur }}</td>
                {% if ingredient.img %}
                  <td><img src="../uploads/{{ ingredient.img }}" /></td>
                {% else %}
                  <td></td>
                {% endif %}
                <td>
                  <input type="hidden" name="_METHOD" value="DELETE"/>
                  <button class="btn btn-danger btn-block" type="submit" name="deletedId" value="{{ ingredient.id }}">Supprimer</button>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        {% if message is defined %}
        <div class="form-group">
          <div class="alert alert-danger">
            <strong>{{ message }}</strong>
          </div>
        </div>
        {% endif %}

    </form>

  </div>

{% endblock user_content %}